
<%= form_tag(login_path, method: "post" ) do %>
    <div class="formwrapper">
      <h1>Inloggning</h1>
      <div class="informationGroup">
        <%= label_tag :user_name %>
        <%= text_field_tag :user_name, "", :class => "information-field" %>
      </div>
      <div class="informationGroup">
        <%= label_tag :password %>
        <%= password_field_tag :password, "", :class => "information-field" %>
      </div>
      <div class="informationGroup">
        <%= submit_tag "Logga in" %>
      </div>
      <%= link_to "Skapa användare", new_user_path %>
    </div>

<% end %>