
<% if @user.errors.any? %>
    <div class="error_messages">

      <% @user.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
<% end %>

<%= form_for @user do |u| %>

    <div class="biggerformwrapper">
      <div class="informationGroup">
        <%= u.label :user_name %>
        <%= u.text_field :user_name, :class => "information-field" %>
      </div>
      <div class="informationGroup">
        <%= u.label :email %>
        <%= u.email_field :email, :class => "information-field"  %>
      </div>
      <div class="informationGroup">
        <%= u.label :password %>
        <%= u.password_field :password, :class => "information-field"  %>
      </div>
      <div class="informationGroup">
        <%= u.label :password_confirmation %>
        <%= u.password_field :password_confirmation, :class => "information-field"  %>
      </div>
      <div class="informationGroup">
        <%= u.submit "Skapa användare" %>
      </div>
      <%= link_to "Tillbaka", users_path %>
    </div>
<% end %>