<h1>Welcome to your specifik api key page</h1>


<% @creator.each do |c| %>
  <div class="keysWrapper">
    <div class="specifikKeyWrapper">
      <div class="informationGroup">
        <h2><%= c.applikation_name %></h2>
      </div>
      <div class="informationGroup">
        <h3>Beskrivning av applikationen: </h3>
        <p><%= c.applikation_description %></p>
      </div>
      <div class="informationGroup">
        <h3>Applikationens nyckel: </h3>
        <p><%= c.applikation_api %></p>
      </div>
      <div class="informationGroup">
        <%= link_to "Ta bort", { action: :destroy, id: c.id }, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
<% end %>


<div>
  <%= link_to "Skapa ny api-nyckel", new_creator_path %>
</div>
<div>
  <%= link_to "Logga ut", logout_path %>
</div>